[submodule "thirdparty/kicad-ESP8266"]
	path = thirdparty/kicad-ESP8266
	url = https://github.com/jdunmire/kicad-ESP8266
[submodule "thirdparty/kicad-utils"]
	path = thirdparty/kicad-utils
	url = https://trygvis.io/git/2016/07/kicad-utils.git
